package {{ .Package }}

import (
"time"
{{ if ne (len .Errors) 0 }}"fmt"{{ end }}
{{ .Imports }}
)

var _ = time.After

{{ range $type := .Types }}
type {{ $type.Name }} struct {
{{ range $field := $type.Fields }}  {{name .}}   {{goType .Type}} {{tags .}}
{{ end }}
}

{{ if eq $type.Type "error"}}func (e {{$type.Name}}) Error() string {
    return fmt.Sprintf({{ errorFmt $type }})
}{{end}}{{end}}
